<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>register</title>
  <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
  <h1><%=name%></h1>
  <form action="/user/register" method="POST">
    <p>
      <div>姓名</div>
      <input type="text" name="username">
    </p>
    <!-- <input type="text" hidden name="_csrf" value="<%=csrf%>"> -->
    <p>
      <div>密码</div>
      <input type="password" name="password">
    </p>
    <p>
      <div>确认密码</div>
      <input type="password" name="sure_password">
    </p>
    <p>
    <p>
      <input type="submit" value="注册">
    </p>
  </form>
</body>
</html>